# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

# Declare files that will always have CRLF line endings on checkout.
SciTEUser.properties text eol=crlf
_curlrc text eol=crlf
_vimrc text eol=crlf
_gvimrc text eol=crlf
rar.ini text eol=crlf
yasslEWS.conf text eol=crlf

# Declare files that will always have LF line endings on checkout.
.gnupg/gpg.conf text eol=lf
.gitconfig text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
.bashrc text eol=lf
.bash_profile text eol=lf
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified.


