[user]
	email = 237797+mike2718@users.noreply.github.com
	name = mike
	signingkey = 19F253008884B5E7
[tar "tar.xz"]
	command = xz -c
[tar "tar.zst"]
	command = zstd -c
[commit]
	gpgsign = true
[safe]
	directory = C:/Users/Saori
	directory = C:/MSVCDev
	directory = C:/projects
[core]
	compression = 0
	quotepath = false
	autocrlf = false
	eol = lf
	editor = C:/cmdtool64/Sc1.exe
	excludesfile = C:/Users/Saori/.gitignore
	attributesfile = C:/Users/Saori/.gitattributes
	fscache = true
	preloadindex = true
[init]
	defaultBranch = main
[merge]
	ff = false
[pull]
	ff = only
[push]
	autoSetupRemote = true
	default = simple
[http]
	retry = 3
	maxRequests = 4
[credential]
	helper = manager-core
[tag]
	gpgSign = true
[color]
	ui = auto
[diff]
	algorithm = histogram
[log]
	date = iso
