[user]
	email = mike2718@gmail.com
	name = Mike Akiba
	signingkey = 17C22010D29A50BC
[commit]
	gpgsign = true
[tar "tar.xz"]
	command = xz -c
[tar "tar.zst"]
	command = zstd -c
[safe]
	directory = C:/Users/Saori
[core]
	autocrlf = true
	editor = C:/cmdtool64/Sc1.exe
	compression = 0
[init]
	defaultBranch = main
[merge]
	ff = false
[pull]
	ff = only
[push]
	autoSetupRemote = true
[http]
	postBuffer = 524288000
	maxRequests = 5
