# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

# Declare files that will always have CRLF line endings on checkout.
SciTEUser.properties text eol=lf
_curlrc text eol=crlf
_vimrc text eol=crlf
_gvimrc text eol=crlf
rar.ini text eol=crlf

# Declare files that will always have LF line endings on checkout.
.gitconfig text eol=lf
.gitattributes text eol=lf
.gitconfig text eol=lf


# Denote all files that are truly binary and should not be modified.


