" ===== =====
setv tabstop=4
setv autoindent
setv showmode

" ===== Windows =====
if $WINDOWS
    setv backspace=indent,eol,start
endif

" ===== winvile =====
if $GUI
    setv screen-columns=150
    setv screen-rows=48
endif